body{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

header {
    background-color: #FCEBEB;
    border-style: solid;    
    border-width: 2px;
}

footer {
    background-color: #FCEBEB;
    border-style: solid;    
    border-width: 2px;
}

header img {
    width: 70px;        
    position : absolute;    
    top:70%;
    transform: translateY(-70%);
}

h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;    
    display: inline-block;    
    width: 100%;
    position: absolute;    
    top: 50%;
    transform: translateY(-70%);
}

span {
    font-weight: 900; /*peso/densidad de las letras en si, o peso en las de google fonts*/
}

.contenedor{
    position: relative;
    width: 100%;
    height: 80px;        
}

.nav-ul_menu {        
    list-style: none;
    margin-top: 4px;    
    margin-bottom: 0;   
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
    font-size: 11px;    
}

.nav-ul_menu li{       
    display: inline;
    margin-right: 10px;  
    
}

.nav-ul_menu li a{        
    color: black;
    text-decoration: none;
}

.nav-ul_menu a:hover{
    color : blue;
}

nav{    
    background: #D2FECD;       
}



/*
.box {
    border : solid red  1px;
}


.bo2 {
    border : solid green  1px;
}
*/