body{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

header {
    background-color: grey;
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

footer {
    background-color: grey;
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

header img {
    width: 100px;    
    height: auto;
    position : absolute;
}

h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 45px;
    text-align: center;    
    display: inline-block;    
    width: 100%;
    position: absolute;
}

span {
    font-weight: 900; /*peso/densidad de las letras en si, o peso en las de google fonts*/
}


.box {
    border : solid red  1px;
}

.contenedor{
    position: relative;
    width: 100%;
    height: 80px;
}

.bo2 {
    border : solid green  1px;
}

